@model PX_Model.Participant

@{
    ViewBag.Title = "Assign Participant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Assign Participant</h2>

<table class="table table-striped">
    <tr>
        <td><strong>Name</strong></td>
        <td>@String.Format("{0} {1}", Model.Person.First_Name, Model.Person.Last_Name)</td>
    </tr>
    <tr>
        <td><strong>Date Of Birth</strong></td>
        <td>@String.Format("{0: dd/MM/yyyy}", Model.Date_Of_Birth)</td>
    </tr>
    <tr>
        <td><strong>Gender</strong></td>
        <td>@Model.Gender</td>
    </tr>
    <tr>
        <td><strong>Email</strong></td>
        <td>@Model.Person.Email</td>
    </tr>
    <tr>
        <td><strong>Phone Number</strong></td>
        <td>@Model.Person.Phone_Number</td>
    </tr>
    <tr>
        <td><strong>Street</strong></td>
        <td>@Model.Person.Street</td>
    </tr>
    <tr>
        <td><strong>Suburb</strong></td>
        <td>@Model.Person.Suburb</td>
    </tr>
    <tr>
        <td><strong>State</strong></td>
        <td>@Model.Person.State</td>
    </tr>
    <tr>
        <td><strong>Postcode</strong></td>
        <td>@Model.Person.Postcode</td>
    </tr>
</table>

@Html.ActionLink("Assign Participant", "ConnectParticipantToClinician", new { id = Model.Id }, new { @class = "btn" })