@model PX_Model.Participant

@{
    ViewBag.Title = "Monitor Participant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Monitor Participant</h2>

<table class="table table-striped" style="width:100%;">
    <tr>
        <td><strong>Name</strong></td>
        <td>@String.Format("{0} {1}", Model.Person.First_Name, Model.Person.Last_Name)</td>
    </tr>
    <tr>
        <td><strong>Date Of Birth</strong></td>
        <td>@String.Format("{0: dd/MM/yyyy}", Model.Date_Of_Birth)</td>
    </tr>
    <tr>
        <td><strong>Gender</strong></td>
        <td>@Model.Gender</td>
    </tr>
    <tr>
        <td><strong>Email</strong></td>
        <td>@Model.Person.Email</td>
    </tr>
    <tr>
        <td><strong>Phone Number</strong></td>
        <td>@Model.Person.Phone_Number</td>
    </tr>
    <tr>
        <td><strong>Street</strong></td>
        <td>@Model.Person.Street</td>
    </tr>
    <tr>
        <td><strong>Suburb</strong></td>
        <td>@Model.Person.Suburb</td>
    </tr>
    <tr>
        <td><strong>State</strong></td>
        <td>@Model.Person.State</td>
    </tr>
    <tr>
        <td><strong>Postcode</strong></td>
        <td>@Model.Person.Postcode</td>
    </tr>
</table>

<h3>Participating in following trials:</h3>
<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
    </tr>
    @foreach (var tp in Model.Trial_Participant)
    {
        <tr>
            <td>
                @Html.ActionLink(tp.Trial.Name, "MonitorParticipantTrial", new { pid = Model.Id, tid = tp.Trial_Id }, new { @style = "display: block;" })
            </td>
            <td>
                @Html.ActionLink(string.Format("{0:dd/MM/yyyy}", tp.Trial.Start_Date), "MonitorParticipantTrial", new { pid = Model.Id, tid = tp.Trial_Id }, new { @style = "display: block;" })
            </td>
            <td>
                @Html.ActionLink(string.Format("{0:dd/MM/yyyy}", tp.Trial.End_Date), "MonitorParticipantTrial", new { pid = Model.Id, tid = tp.Trial_Id }, new { @style = "display: block;" })
            </td>
        </tr>
    }
</table>