@model Professional_Experience.Models.AssignInvestigatorToTrialViewModel

@{
    ViewBag.Title = "Assign Investigator To Trial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Assign Investigator To Trial</h2>

@using (Html.BeginForm("AssignInvestigatorToTrial", "Administrator", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.TrialId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <select class="form-control" name="TrialId" id="trial">
                @foreach (var trial in Model.Trials)
                {
                    <option value="@trial.Id">@trial.Name</option>
                }
            </select>
            <input id="SearchTrial" style="margin-top:5px" type="text" class="form-control" placeholder="Search Trial" onkeyup="searchSel('SearchTrial', 'trial')" />
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.InvestigatorId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <select class="form-control" name="InvestigatorId" id="investigator">
                @foreach (var investigator in Model.Investigators)
                {
                    <option value="@investigator.Id">@string.Format("{0} {1}({2})", investigator.Person.First_Name, investigator.Person.Last_Name, investigator.Person.Username)</option>
                }
            </select>
            <input id="SearchInvestigator" style="margin-top:5px" type="text" class="form-control" placeholder="Search Investigator" onkeyup="searchSel('SearchInvestigator', 'investigator')" />
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Type, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <select class="form-control" name="Type">
                <option value="@PX_Model.Trial_Investigator.TYPE_CHEIF">Cheif</option>
                <option value="@PX_Model.Trial_Investigator.TYPE_ASSOCIATE">Associate</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Submit" />
        </div>
    </div>
}

@section scripts {
    <script type="text/javascript" src="~/Scripts/Custom/Search.js"></script>
}