@using PagedList.Mvc
@model PagedList.PagedList<PX_Model.Trial>

@{
    ViewBag.Title = "Edit Trials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Trials</h2>

@using (Html.BeginForm("SearchTrials", "Administrator", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <div class="form-group">
        <input type="text" style="display:inline; margin-left:15px;" placeholder="Search Trial" name="searchWord" class="form-control" />
        <input type="submit" style="padding:6px; width: 100px;" class="btn btn-default" value="Search" />
    </div>
}

<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
    </tr>
    @foreach (var trial in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(trial.Name, "EditTrial", "Administrator", new { id = trial.Id }, new { @style = "display: block;" })
            </td>
            <td>
                @Html.ActionLink(String.Format("{0: dd/MM/yyyy}", trial.Start_Date), "EditTrial", "Administrator", new { id = trial.Id }, new { @style = "display: block;" })
            </td>
            <td>
                @Html.ActionLink(String.Format("{0: dd/MM/yyyy}", trial.End_Date), "EditTrial", "Administrator", new { id = trial.Id }, new { @style = "display: block;" })
            </td>
        </tr>
    }
</table>
<div style="text-align:center;">
    @Html.PagedListPager(Model, page => Url.Action("EditTrials", new { page = page }))
</div>