@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administrator Dashboard</h2>

@Html.ActionLink("Create Trial", "CreateTrial")<br />
@Html.ActionLink("Edit Trial", "EditTrials")<br />
@Html.ActionLink("Add Participant to Trial", "AddParticipantToTrial")<br />
@Html.ActionLink("Screening Criteria", "ScreeningCriteria")<br />
@Html.ActionLink("Create Investigator", "CreateInvestigator")<br />
@Html.ActionLink("Edit Investigator", "EditInvestigators")<br />
@Html.ActionLink("Assign Investigator to Trial", "AssignInvestigatorToTrial")<br />
@Html.ActionLink("Create Baseline Assessment", "CreateBaselineAssessment")