@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administrator Dashboard</h2>

@Html.ValidationSummary("", new { @class = "text-danger" })

<div>
    @Html.ActionLink("Trial", "Trial", new { }, new { @class = "btn" })<br />
    @Html.ActionLink("Screening Criteria", "ScreeningCriteria", new { }, new { @class = "btn" })<br />
    @Html.ActionLink("Investigator", "Investigator", new { }, new { @class = "btn" })<br />
    @Html.ActionLink("Create Baseline Assessment", "CreateBaselineAssessment", new { }, new { @class = "btn" })<br />
    @Html.ActionLink("Randomise Trial", "RandomiseTrialParticipants", new { }, new { @class = "btn" })<br />
    @Html.ActionLink("View all Trials", "ViewTrials", new { }, new { @class = "btn" })<br />
    @Html.ActionLink("Reports", "Report", new { }, new { @class = "btn" })
</div>