@model PX_Model.Participant

@{
    ViewBag.Title = "View Participant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Participant</h2>

<table style="width:100%;">
    <tr>
        <td><strong>Name</strong></td>
        <td style="word-break:break-all; padding-left:20px;">@String.Format("{0} {1}", Model.Person.First_Name, Model.Person.Last_Name)</td>
    </tr>
    <tr>
        <td><strong>Date Of Birth</strong></td>
        <td style="word-break:break-all; padding-left:20px;">@Model.Date_Of_Birth</td>
    </tr>
    <tr>
        <td><strong>Gender</strong></td>
        <td style="word-break:break-all; padding-left:20px;">@Model.Gender</td>
    </tr>
    <tr>
        <td><strong>Email</strong></td>
        <td style="word-break:break-all; padding-left:20px;">@Model.Person.Email</td>
    </tr>
    <tr>
        <td><strong>Objectives</strong></td>
        <td style="word-break:break-all; padding-left:20px;">@Model.Person.Phone_Number</td>
    </tr>
    <tr>
        <td><strong>Street</strong></td>
        <td style="word-break:break-all; padding-left:20px;">@Model.Person.Street</td>
    </tr>
    <tr>
        <td><strong>Suburb</strong></td>
        <td style="word-break:break-all; padding-left:20px;">@Model.Person.Suburb</td>
    </tr>
    <tr>
        <td><strong>State</strong></td>
        <td style="word-break:break-all; padding-left:20px;">@Model.Person.State</td>
    </tr>
    <tr>
        <td><strong>Postcode</strong></td>
        <td style="word-break:break-all; padding-left:20px;">@Model.Person.Postcode</td>
    </tr>
</table>

<h3>Participating in following trials:</h3>
<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
    </tr>
    @foreach (var tp in Model.Trial_Participant)
    {
        string action = "";
        if (tp.Trial.HasBeenRandomised == true)
        {
            action = "ViewRandomisedTrial";
        }
        else
        {
            action = "ViewNonRandomisedTrial";
        }
        <tr>
            <td>
                @Html.ActionLink(tp.Trial.Name, action, new { id = tp.Trial_Id }, new { @style="display: block;" })
            </td>
            <td>
                @Html.ActionLink(string.Format("{0:dd/MM/yyyy}", tp.Trial.Start_Date), action, new { id = tp.Trial_Id }, new { @style = "display: block;" })
            </td>
            <td>
                @Html.ActionLink(string.Format("{0:dd/MM/yyyy}", tp.Trial.End_Date), action, new { id = tp.Trial_Id }, new { @style = "display: block;" })
            </td>
        </tr>
    }
</table>