@using PagedList.Mvc
@model Professional_Experience.Models.AdminViewTrialsViewModel

@{
    ViewBag.Title = "View Trials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Trials</h2>

@using (Html.BeginForm("SearchTrialsAccordingToClassification", "Administrator", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <div class="form-group">
        <input type="text" style="display:inline; margin-left:15px;" placeholder="Search Trial" name="searchWord" class="form-control" />
        <input type="submit" style="padding:6px; width: 100px;" class="btn btn-default" value="Search" />
    </div>
}

<h3>Randomised Trials</h3>

<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
    </tr>
    
    @foreach (var t in Model.Randomised)
    {
        <tr>
            <td>
                @Html.ActionLink(t.Name, "ViewRandomisedTrial", new { id = t.Id }, new { @style = "display: block;" })
            </td>
            <td>
                @Html.ActionLink(string.Format("{0:dd/MM/yyyy}", t.Start_Date), "ViewRandomisedTrial", new { id = t.Id }, new { @style = "display: block;" })
            </td>
            <td>
                @Html.ActionLink(string.Format("{0:dd/MM/yyyy}", t.End_Date), "ViewRandomisedTrial", new { id = t.Id }, new { @style = "display: block;" })
            </td>
        </tr>
    }
</table>
<div style="text-align:center;">
    @Html.PagedListPager(Model.Randomised, page => Url.Action("ViewTrials", new { pageRandomised = page }))
</div>

<h3>Non-Randomised Trials</h3>

<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
    </tr>

    @foreach (var t in Model.NonRandomised)
    {
        <tr>
            <td>
                @Html.ActionLink(t.Name, "ViewNonRandomisedTrial", new { id = t.Id }, new { @style = "display: block;" })
            </td>
            <td>
                @Html.ActionLink(string.Format("{0:dd/MM/yyyy}", t.Start_Date), "ViewNonRandomisedTrial", new { id = t.Id }, new { @style = "display: block;" })
            </td>
            <td>
                @Html.ActionLink(string.Format("{0:dd/MM/yyyy}", t.End_Date), "ViewNonRandomisedTrial", new { id = t.Id }, new { @style = "display: block;" })
            </td>
        </tr>
    }
</table>
<div style="text-align:center;">
    @Html.PagedListPager(Model.NonRandomised, page => Url.Action("ViewTrials", new { pageNonRandomised = page }))
</div>